[Unit]
Description=Suricata Telegram Notifier Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=$SERVICE_DIRECTORY/.venv/bin/python3 -m service
WorkingDirectory=$SERVICE_DIRECTORY

[Install]
WantedBy=multi-user.target